@model IEnumerable<Vidly7.Models.Movie>


<h2>Movies</h2>

<p>
    @Html.ActionLink("New Movie", "New", "Movie", null, new {@class="btn btn-primary mx-auto"})
</p>

<div>
    <table id="movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie Title</th>
                <th>Genre</th>
                <th>In Stock</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

